<header
      class="container-header w-full h-auto flex flex-row items-center justify-between px-32 py-6 uppercase relative z-50"
    >
      <div class="header-logo font-semibold text-4xl">
        <span class="text-slate-100">f</span>
        <span class="text-[#c8e05e]">hly</span>
      </div>
      <div class="header-nav-bar">
    <ul class="nav-bar-ul flex flex-row gap-20 text-slate-100 text-sm [&>li]:cursor-pointer">
      <li id="home-option">Home</li>
      <li id="menu-option">Menu</li>
      <li id="delivery-option">Delivery</li>
      <li id="pickup-option">
        <a href="https://github.com/wereverything" target="_blank">Github</a>
      </li>
      <li id="contact-option">
        <a href="https://www.instagram.com/jhos.fp/" target="_blank">Contact me</a>
      </li>
    </ul>
  </div>
</header>